<h2 class="center"> List Des Plats Disponible </h2>
<div class="container" *ngIf="(meals$ | async) as meal; else loadingTemplate">
    <div class="row">
        <div *ngFor="let meal of meals$ | async " class="col m4 s12">
            <div>
                <div class="card horizontal ">
                    <div class="center" class="{{ mealAvailableToString(meal.status) | foodAvailable }}">
                        <img [src]="meal.image" height="190px" width="40%"/>

                        <div class="card-stacked">
                            <div class="card-content">
                                <p> plat :   {{meal.label}}</p>
                                <p> catégorie :  {{meal.category}}</p>
                                <p> description : {{meal.description}}</p>
                                <p> prix : {{meal.price | euroSymbol }}  </p>
                                <p><span *ngIf="meal.status == 1">  Disponible  </span><span *ngIf="meal.status == 0 ">  Pas  Disponible  </span>
                                </p>
                            </div>
                        </div>


                            <div  *ngIf="!chosenMealsIDs.includes(meal.id)"  class="center">
                                <button  [disabled]="meal.status == 0" class="btn"   (click) =  "addToListToLinkMealToMenu(meal.id)"> Ajouter Le Plat</button>
                            </div>


                            <div  *ngIf="chosenMealsIDs.includes(meal.id)"  class="center">
                                <p   style="color: green ;"> Séléctionné </p>
                            </div>

                        <!--<div *ngIf="meal.status == 0">
                        </div>
                        <button disabled class="btn" *ngIf="meal.status == 0"> Ajouter Le Plat</button>-->


                    </div>
                </div>
            </div>
        </div>
        <div class="validate-btn center">
            <div>
                <button  class="btn"  (click)="validate()">Valider</button>
                <p *ngIf="submitted && chosenMealsIDs.length < 2  "  style="color: crimson">Vous deverriez  absolument Choisir au moins   deux Plats  pour un  menu </p>

            </div>
            <div class="btn" *ngIf="chosenMealsIDs.length>0" (click)="resetMealsList()">reset</div>
        </div>
    </div>


</div>

<ng-template #loadingTemplate>
    <!-- Afficher le spinner ici pendant le chargement -->
    <div class="spinner-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</ng-template>

<style>
    .spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }
</style>

