<h2 class="center"> List Des Plats Disponible </h2>
<div class="container" *ngIf="(meals$ | async) as meal; else loadingTemplate" >
    <div class="row scrollable">
        <div *ngFor="let meal of meals$ | async " class="col m4 s12">
                <div class="card horizontal ">
                    <div class="center">
                        <img [src]="meal.image" height="190px" width="40%"/>

                        <div class="card-stacked">
                            <div class="card-content">
                                <p> plat :   {{meal.label}}</p>
                                <p> catégorie :  {{meal.category}}</p>
                                <p> description : {{meal.description}}</p>
                                <p> prix : {{meal.price | euroSymbol }}  </p>
                            </div>
                        </div>


                        <div *ngIf="!isInMealsList(meal)" class="addMeal-btn" >
                            <button [disabled]="meal.status == 0" class="btn" (click)="addToListToLinkMealToMenu(meal)">
                                Ajouter Le Plat
                            </button>
                        </div>


                        <div *ngIf="isInMealsList(meal)" class="center">
                            <p style="color: green ;"> Séléctionné </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="validate-btn center">
            <div>
                <button class="btn" (click)="validate()">Valider</button>
                <p *ngIf="submitted && chosenMeals.length < 2  " style="color: crimson">Vous deveriez absolument
                    Choisir au moins deux Plats pour un menu </p>

            </div>
            <div class="btn" *ngIf="chosenMeals.length>0" (click)="resetMealsList()">reset</div>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <!-- Afficher le spinner ici pendant le chargement -->
    <div class="spinner-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</ng-template>

<style>
    h2 {
        margin-top: 20px;
    }
    .spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }
    .addMeal-btn{
        margin-bottom: 10px;
    }
</style>

