<mat-toolbar>
    <div *ngIf="disconnected"  >
        <button (click)="sidenav.toggle()"  class="burgger" mat-icon-button>
            <div *ngIf="!sidenav.opened">
                <img alt="cantière-logo" src={{user.image}}>
            </div>
            <div *ngIf="sidenav.opened">
                <img alt="cantière-logo" src={{user.image}}>
            </div>
        </button>
    </div>

    <div class="logo-cantine" *ngIf="!disconnected">
        <a href="#"> <img alt="cantière-logo" src="../../assets/logo.png"> </a>
    </div>

    <div class="logo-container">
        <div class="sqli-div"><span class="cantière-span center">Cantière</span> <br>
            <div class="bysqli"><span class="by">By</span> <span class="sqli">SQLI </span></div>
        </div>
    </div>

    <div *ngIf="disconnected" class="connect" (click)="logout()" >
        <button>
            <mat-icon>logout</mat-icon>
            Deconnexion
        </button>
    </div>

    <div *ngIf="!disconnected" class="connect" (click)="toLogin()" >
        <button>
            <mat-icon>login</mat-icon>
            Connexion
        </button>
    </div>


    <div *ngIf="disconnected" class="not-connect-login-small"  >
        <mat-icon>logout</mat-icon>
    </div>
    <div *ngIf="!disconnected" class="not-connect-login-small" >
        <mat-icon>login</mat-icon>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

        <img class="avatar mat-elevation-z8" src={{user.image}}/>

        <h4 class="name">{{user.firstname}} {{user.lastname}}</h4>

        <p class="designation"> {{user.studentClass}} </p>

        <p class="designation"> Aston Student 😇 </p>

        <mat-divider></mat-divider>

        <button class="menu-button" mat-button (click)="goToHome()">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button class="menu-button" mat-button (click)="gotoProfile()">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>

        <button class="menu-button"  (click)="goToOrders()"  mat-button>
            <mat-icon>shopping_cart</mat-icon>
            <span>Mon Panier </span>
            <mat-icon class="badge" matBadge="10" matBadgeColor="warn" matBadgePosition="above after"></mat-icon>

        </button>


        <mat-divider></mat-divider>

        <button class="menu-button" mat-button>
            <mat-icon> restaurant_menu</mat-icon>
            <span>Menus</span>
        </button>
        <button class="menu-button" mat-button>
            <mat-icon>lunch_dining</mat-icon>
            <span>Plats</span>
        </button>

        <mat-divider></mat-divider>

        <button class="menu-button" mat-button (click)=" logout()">
            <mat-icon>logout</mat-icon>
            <span>Deconnexion</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <main>    <!-- content  -->
            <router-outlet></router-outlet>     <!--  main  container  -->
        </main>
        <app-main-footer></app-main-footer>
    </mat-sidenav-content>
</mat-sidenav-container>


