<mat-toolbar>
    <button class="burgger" mat-icon-button *ngIf="isconnected && sidenav.mode==='over'" (click)="sidenav.toggle()">
        <mat-icon  *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <div class="logo-container"  > <!-- logo  Il  faut  changer  la police de Alter  -->
        <div  [ngClass]= "{'paddingForLogoWhenConnectedUser' : isconnected}"  class="img-logo" > <img src="../assets/logo.png" alt="cantière-logo"> </div>
        <div class="sqli"> Cantière <br> By SQLI  </div>
        <div  class="connect">  <button class="btn"> <mat-icon>login</mat-icon>    Connection</button>  </div>
    </div>

    <div *ngIf="!isconnected" class="not-connect-login-small">   <mat-icon >login</mat-icon>    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav  #sidenav="matSidenav" mode="side">

        <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />

        <h4 class="name">John Smith</h4>
        <p class="designation"> Aston Student  😇  </p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>

        <button mat-button class="menu-button" >
            <mat-icon>shopping_cart</mat-icon>
            <span >Mon Panier </span>
            <mat-icon  matBadge="10" matBadgePosition="above after" matBadgeColor="warn" class="badge"></mat-icon>

        </button>


        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon> restaurant_menu</mat-icon>
            <span>Menus</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>lunch_dining</mat-icon>
            <span>Plats</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">

            <mat-icon>logout</mat-icon>
            <span>Deconnexion</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div   class="container">    <!-- content  -->
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
