<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title class="center">Cantine </ion-title>
      <ion-buttons  slot="end" style="margin-right: 5px;">
        <img src="../../../assets/icon/logo.png" alt="cantine-logo" width="25px">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <!--  main  container  -->
  <router-outlet></router-outlet>



   <!-- <ion-footer>
      <ion-toolbar>
        <ion-title>Footer</ion-title>
      </ion-toolbar>
    </ion-footer>-->
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          Accueil
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="fast-food-outline"></ion-icon>
          Nos Menus
        </ion-tab-button>
        <ion-tab-button (click)="goToMeals()">
          <ion-icon name="pizza-outline"></ion-icon>
          Nos  plats
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="reorder-four-outline"></ion-icon>
          Mes Commandes
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>

</ion-app>


<style>

</style>

