
    <app-loading-dialog *ngIf="isLoadingPage"></app-loading-dialog>

<div class="container main-container">
    <div class="row">
        <form [formGroup]="student" >
            <div class="wallet center">
                <img id="profile-picture" src={{user.image}}>
                <h1>{{user.firstname}}   {{user.lastname}}</h1>
                <h2> SOLDE : {{user.wallet}} € </h2>

            </div>

            <!---------------------- Name --------------------------->
            <div class="form-group  input-card col">
                <label for="firstName"> Prénom : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" class="form-control"
                       formControlName="firstName"
                       placeholder="Prénom "
                       type="text"
                       id="firstName"
                />
            </div>


            <!---------------------- LastName --------------------------->
            <div class="form-group input-card   col ">
                <label for="lastName"> Nom : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" class="form-control"
                       formControlName="lastName"
                       placeholder="Nom "
                       type="text"
                       id="lastName"
                />
            </div>


            <!---------------------- Email --------------------------->
            <div class="form-group  input-card   col">
                <label for="email"> Email : </label>
                <input   [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" class="form-control"
                         formControlName="email"
                         placeholder="  Votre Email "
                         type="email"
                         id="email"

                />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']" class="center"> Votre Email est requis</div>
                    <div *ngIf="f['email'].errors['maxlength']" class="center">
                        votre Nom ne doit pas dépasser 1000 charctéres
                    </div>
                    <div *ngIf="f['email'].errors['email']" class="center">
                        Format Email incorrect
                    </div>

                    <div *ngIf="f['email'].errors['pattern']" class="center">
                        Format Email incorrect
                    </div>
                </div>
            </div>


            <!---------------------- Birthdate--------------------------->
            <div class="form-group  input-card   col">
                <label for="birthDate"> Date De Naissance : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['birthDate'].errors }" class="form-control"
                       formControlName="birthDate"
                       placeholder=" Date  De  Naissance "
                       type="Date"
                       id="birthDate"
                />

            </div>



            <!---------------------- Phone Number--------------------------->
            <div class="form-group" >
                <label for="phoneNumber"> Numéro Tél : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }" class="form-control"
                       formControlName="phoneNumber"
                       placeholder="  Votre  Numéro Télephone "
                       type="tel"
                       id="phoneNumber"
                />
            </div>

        </form>

        <div class="center add-subtract-btn">
            <button class="btn" (click)="addAmount()">
                <mat-icon>add_circle_outline</mat-icon>
                Ajouter   Un  montant
            </button>
            <button  (click)="goToTransactionsHistory()" class="btn">
                <mat-icon>history</mat-icon>
                historique des  transactions
            </button>

        </div>


    </div>
</div>
    <div class="center modify-email-btn">
        <button *ngIf="!enableEmailInput" class="btn"  (click)="enableEmailFormInput()"> Modifier  le  Email  </button>
        <button *ngIf="enableEmailInput" class="btn"  (click)="changeStudentEmail()"> Valider  </button>
    </div>

<ng-template #loadingTemplate >
    <div class="spinner-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-template>
