<!--<h1 class="center"> Nos Plats </h1>-->
<div class="center" style="margin: 10px">
  <img src="assets/images/nos-menus.png"  alt="NOS MENUS">
</div>

<div class="container">
    <div class="row">
        <app-menu-search></app-menu-search>

        <div *ngFor="let menu of menus$ |async " class="center col-md-4">
            <div class="card horizontal">
                <div class="center">
                    <img [src]="menu.image" height="40%" width="40%"/>
                </div>

                <div class="card-stacked">
                    <div class="card-content">
                        <p> Menu :   {{menu.label}}</p>
                        <p> description : {{menu.description}}</p>
                        <p> Prix :   {{menu.price}}</p>
                    </div>
                </div>
                <div>
                    <button class="btn" (click)="addToOrder(menu)" style="margin-bottom: 15px" id="{{menu.id}}"> Ajouter Le Menu</button>
                </div>
            </div>
        </div>
        <div class="center btn" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            retour
        </div>

    </div>
</div>



