<div class="amount-dialog" >

        <h2 class="center">{{data.message}}</h2>
        <form [formGroup]="amountForm" class="test">

            <!---------------------- Phone Number--------------------------->
            <div class="form-group ">
                <label for="amount"> Le Montat: </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }" class="form-control"
                       formControlName="amount"
                       placeholder=" {{data.message}}  "
                       type="number"
                       id="amount"
                />
                <div *ngIf="submitted && f['amount'].errors" class="invalid-feedback">
                    <div *ngIf="f['amount'].errors['required']" class="center">
                        Le  Montant  est  obligatoire
                    </div>
                    <div *ngIf="f['amount'].errors['max']" class="center">
                        Le  Montant   maximum  200 €
                    </div>

                    <div *ngIf="f['amount'].errors['min']" class="center">
                        Impossible  de retirer  un montant  inférieur à  200 €
                    </div>

                </div>
            </div>
        </form>

         <div class="center" *ngIf="!isLoaded; else loadingTemplate" >
                <button class="btn" (click)="onSubmit()">Ajouter</button>
         </div>
</div>








<ng-template #loadingTemplate >
    <div class="spinner-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</ng-template>

<style>
    .spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }
    .amount-dialog {
        padding: 5%;
        overflow-x:hidden ;
    }
    h2 , form{
        padding: 0px;
        margin: 0px;
    }
    .code-input{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 13vh;
    }
    </style>