<div class="global  ">
    <div class="center"><img width="80px" src="../../../../assets/images/wrong.png"></div>
    <h1 mat-dialog-title class="center">{{message}}</h1>
    <div class="center">
            <button  class="btn btn-primary" mat-dialog-close> OK </button>
    </div>
</div>
<style>
    .mat-dialog-container {
        background: red;
    }

    .global {
        margin: 5% auto 5% auto;

    }

    .btns {
        display: flex;
        justify-content: space-around;

    }

    @media (max-width: 992px) {


    }

</style>