


<div class="container">
    <div class="row">
          <div *ngIf="activated" class="center">
                <img src="assets/images/confirm-icon.png" width="40%">
          </div>

        <div *ngIf="!activated" class="center">
            <img src="assets/images/wrong.png" width="40%">
        </div>

          
    </div>
      <h1 class="center">  {{serverResponse}}  </h1>
    <h3 *ngIf="isAdministrator" class="center" style="color: #d71717">Votre adresse a été validée avec succès. Vous pourrez utiliser votre compte une fois que l'administration d'Aston aura confirmé votre inscription</h3>
</div>