<div class="container ">
    <div class="row">
        <div class="text-center">
            <img alt="logo" class="form-logo" src="../../../../assets/images/logo.png" width="80px">
            <h4 class="mt-1 mb-5 pb-1"> Cantinière</h4>
        </div>
              <h1 class="center"> Je Ajoute un  Plat </h1>
        <div class="register-form">
            <form [formGroup]="newMeal" (ngSubmit)="onSubmit()">





                <!---------------------- Quantity --------------------------->
                <div class="form-group">
                    <label>Le quatité      </label>
                    <input [ngClass]="{ 'is-invalid': submitted && f['quantity'].errors }" class="form-control" formControlName="quantity"
                           placeholder="Le quatité des plats  disponible "
                           type="number"/>
                    <div *ngIf="submitted && f['quantity'].errors" class="invalid-feedback">
                        <div *ngIf="f['quantity'].errors['required']" class="center"> La quantité  est requis</div>
                        <div *ngIf="f['quantity'].errors['pattern']" class="center" >la quantity est un  entier </div>
                    </div>
                </div>








                <!---------------------- status --------------------------->
                <div class="form-group">
                    <label> Le plat  est t-il  disponible ?     </label>
                    <mat-radio-group aria-label="Select an option"[ngClass]="{ 'is-invalid': submitted && f['status'].errors }" class="form-control" formControlName="status" >
                        <mat-radio-button value="available" > Plat Disponible </mat-radio-button>
                        <mat-radio-button value="unavailable" > Plat n'est  Disponible </mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="submitted && f['status'].errors" class="invalid-feedback">
                        <div *ngIf="f['status'].errors['required']" class="center"> le status  du  plat   est requise </div>
                    </div>
                </div>

            </form>
            <button  (click)="onSubmit()" class="btn center">  Enregistrer </button>

        </div>
    </div>

</div>







