<div class="container">
    <div class="row">
            <form [formGroup]="studentUpdated" class="test">
                <!---------------------- Email --------------------------->
                <div class="form-group ">
                    <label for="email"> Email : </label>
                    <input [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" class="form-control"
                           formControlName="email"
                           placeholder="  Votre Email "
                           type="email"
                           id="email"
                    />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']" class="center"> Votre Email est requis</div>
                        <div *ngIf="f['email'].errors['maxlength']" class="center">
                            votre Nom ne doit pas dépasser 1000 charctéres
                        </div>
                        <div *ngIf="(f['email'].errors['email'] )  ||  (f['email'].errors['pattern'])" class="center">
                            Le Format de Email est incorrecte
                        </div>
                    </div>
                </div>

            </form>
    </div>
</div>


<style>
    .test {
      border: 1px solid red;
    }

</style>