<div class="center" style="margin: 20px">
    <button class="btn"  (click)="addMenu()" >Ajouter un Menu</button>
</div>

<ng-container *ngIf="(menus$ | async) as meals; else noMenu">
    <div *ngIf="meals.length > 0; else noMenu"></div>
</ng-container>


<div class="container">
    <div class="row">
        <div *ngFor="let menu of menus$ | async " class="col-md-4">
            <div class="card horizontal ">
                <div class="center {{ menuAvailableToString(menu.status) | foodAvailable }}">
                    <img [src]="menu.image" height="190px" width="40%" alt=""/>

                    <div class="card-stacked">
                        <div class="card-content">
                            <p><span class="meal-title">{{menu.label}}</span></p>
                            <p> prix : {{menu.price | euroSymbol }}  </p>
                            <p>quantity : {{menu.quantity}} </p>
                            <p> description : {{menu.description}}</p>
                            <p><span *ngIf="menu.status == 1">  Disponible  </span><span
                                    *ngIf="menu.status == 0 ">  Pas  Disponible  </span>
                            </p>
                        </div>
                    </div>
                    <div style="margin: 15px">
                        <button class="btn" (click)="updateMenu(menu.uuid)"> Modifier Le Plat</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #noMenu>
    <div class="center" style=" padding: 12%; height: 50%;">
        <h2> Aucun plat disponible</h2>
    </div>
</ng-template>
<style>
    .meal-title {
        font-size: 20px;
        font-weight: bold;
    }
</style>

