@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@800&family=Dancing+Script:wght@600&display=swap');
header{
  font-family: 'Advent Pro', sans-serif;
    width: 100%;
   .container-images {
       width: 100%;
       height: 70vh;
       background: url("../images/mainImage.jpg") ;
        background: url("../images/mainimage3.jpg") ;
        background: url("../images/books.jpg");
        background-size : 100% 100%;      
       animation: mainImageAnimation 15s ease-in 0s infinite  alternate forwards ;
       h1{
        font-family: 'Dancing Script', cursive;
        color: rgb(255, 253, 250);
        font-size: 6em; 
        text-align: center;
        padding-top: 20vh;
        text-shadow: 1px 3px 15px black;
      }
      mat-divider { // le séparateur
        background-color: rgb(255, 253, 250);
        height: 2px;
        width: 10vw;
        margin: -3px auto;
        margin-top: 5vh;
        box-shadow: 1px 3px 15px black;
      }
      h3{
         text-align: center;
         color: rgb(255, 253, 250);
         font-size: 2em;
         margin-top: 5vh;
         text-shadow: 1px 3px 15px black;
      }
   }

   
   

}


section{
  font-family: 'Advent Pro', sans-serif;
  background-color: #FFFAE1;
  #text-intro{
    padding: 0px 20%; 
  }

 #prestation{
    display: flex;
    flex-wrap: rap;
 }
  
  img{
        width:15vw;
        height: 35vh; 
    }
}





//      background-color: #FFFAE1;






/*@keyframes mainImageAnimation  {
  0% {
      background: url("../images/books.jpg")  no-repeat   ;
      background-size : 100% 100%;
  }
  50% {
      background: url("../images/mainImage.jpg")  no-repeat  ;
      background-size : 100% 100%;
  }
  100% {
      background: url("../images/mainimage3.jpg")  no-repeat  ;
      background-size : 100% 100%;
  }

}*/

/*@-webkit-keyframes diapo-image-header  {
  0% {background: url("../images/books.jpg") no-repeat 50% 50%; background-size: cover;}
  33% {background: url("../images/mainImage.jpg") no-repeat 50% 50%; background-size: cover;}
  66% {background: url("../images/mainimage3.jpg") no-repeat 50% 50%; background-size: cover;}
}*/






/*
"Savourez notre cuisine saine et équilibrée - découvrez les menus hebdomadaires de la cantine Aston !"
"Des plats délicieux pour nourrir les esprits et les corps - explorez les spécialités de la cantine scolaire Aston"
"Manger sainement n'a jamais été aussi facile - notre carte de la cantine Aston offre des options pour tous les goûts et besoins diététiques"
"Des choix alimentaires qui font la différence - les repas végétariens, sans gluten et sans allergènes de la cantine scolaire Aston"
"Le goût sucré de l'enfance - découvrez nos desserts de la semaine et friandises saines pour la cantine Aston"
"Pas de ventre vide ici - nos snacks et collations sains pour une énergie durable tout au long de la journée à la cantine Aston"
"Boissons pour les têtes intelligentes et les corps en forme - explorez notre sélection de boissons saines pour la cantine scolaire Aston"
"Le meilleur de la région - notre cantine Aston propose des produits locaux et bio pour des repas frais et savoureux"
"Rechargez vos batteries avec des aliments nutritifs - découvrez nos menus hebdomadaires pour des repas sains et équilibrés à la cantine Aston"
"La cantine Aston - un endroit où les aliments sains et les sourires heureux vont de pair".
*/




/*
<div class="container">
            <div id="text-intro">
                  <h2>Rechargez vos batteries avec des aliments nutritifs - découvrez nos menus hebdomadaires pour des repas
                        sains et équilibrés à la cantine Aston</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit blanditiis quidem praesentium officia
                        facilis quibusdam doloremque nobis veniam exercitationem incidunt, temporibus ad pariatur quam dolorem
                        illo vero facere? Ut voluptatibus ea unde adipisci assumenda sint quis? Aperiam minus error est!</p>
            </div>
            <div class="row">
              <div class="col-lg">
                  <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Première div</h4>
                           <img class="card-img" src="../../../assets/images/menu.jpg" alt="Nos  menus "> 
                        </div>
                      </div>
              </div>
              <div class="col-lg">
               
                  <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Première div</h5>
                          <p class="card-text">Contenu de la première div</p>
                        </div>
                      </div>
              </div>
              <div class="col-lg">
               
                  <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Première div</h5>
                          <p class="card-text">Contenu de la première div</p>
                        </div>
                      </div>
              </div>
            </div>
          </div>
*/