<div class="container">
    <div class="row">
        <div class="text-center">
            <img alt="logo" class="form-logo" src="../../../../assets/images/logo.png" width="80px">
            <h4 class="mt-1 mb-5 pb-1"> Cantinière</h4>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form [formGroup]="signIn">


                <!---------------------- Email --------------------------->
                <div class="form-group ">
                    <label for="email"> Email : </label>
                    <input [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" class="form-control"
                           formControlName="email"
                           placeholder="  Votre Email "
                           type="email"
                           id="email"
                    />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']" class="center"> Votre Email est requis</div>
                        <div *ngIf="f['email'].errors['maxlength']" class="center">
                            votre Nom ne doit pas dépasser 1000 charctéres
                        </div>
                        <div *ngIf="(f['email'].errors['email'] )  ||  (f['email'].errors['pattern'])"
                             class="center">
                            Le Format de Email est incorrecte
                        </div>
                    </div>
                </div>


                <!---------------------- Password --------------------------->
                <div class="form-group ">
                    <label for="password"> Mot de passe : </label>
                    <input [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" class="form-control"
                           formControlName="password"
                           placeholder="  Votre Mot  de passe "
                           type="password"
                           id="password"
                    />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']" class="center"> Votre Mot de passe est
                            requis
                        </div>
                        <div *ngIf="f['password'].errors['maxlength']" class="center">
                            Mot de passe est incorrecte
                        </div>

                        <div *ngIf="f['password'].errors['minlength']" class="center">
                            Mot de passe est incorrecte
                        </div>


                    </div>
                </div>


                <div class="account-state center" *ngIf="!isLoading;  else loadingTemplate">
                    <div *ngIf="disabled_account" class="disabled-account">
                        <p style=" color :  red "> Votre compte n'est pas Activer <br> <span
                                style="color: #004a9f  ;  cursor:pointer"
                                (click)="sendTokenToActivateAccount()">Cliquer  ici  pour activer </span>
                        </p>

                    </div>

                    <div *ngIf="wrong_credentials" class="wrong-auth">
                        <p style="color: red"> Email ou Mot de passe est incorrecte </p>
                    </div>

                    <div *ngIf="invalid_account" class="wrong-auth">
                        <h2 style="color: red"> Impossible de vous connecter, votre compte est en attente de
                            validation par Administration de école ASTON .</h2>
                    </div>

                    <div class="center" *ngIf="wrong_credentials" (click)="forgotPassword()">
                        <p style="color: #004a9f"> Mot de passe oublié ! </p>
                    </div>

                    <div class="validate-form center">
                        <button class="center btn" (click)="singIn()">
                            <span>
                                <i class="fa fa-check"></i>
                            </span>
                            Connexion
                        </button>
                    </div>

                </div>
            </form>
        </div>

        <div class="center Inscribed-user">
            <p style="color: #004a9f"> je suis pas encore inscrit ! </p>
        </div>
    </div>
</div>


<ng-template #loadingTemplate>
    <!-- Afficher le spinner ici pendant le chargement -->
    <div class="spinner-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</ng-template>

