<div class="container">
   <img src="assets/images/nos-plats.png" width="50%">
</div>

<ion-header>
  <ion-searchbar animated="true" placeholder="Je cherche un plat"></ion-searchbar>
</ion-header>



<ion-card *ngFor="let meal of meals$ | async" style="border: 1px  solid burlywood">
  <img alt="meal image" src="{{meal.image}}" />
  <ion-card-title class="container" >{{meal.label}}</ion-card-title>
  <ion-card-header>
    <ion-card-subtitle>catégorie :  {{meal.category}}<</ion-card-subtitle>
    <ion-card-subtitle>type : {{meal.mealType}}</ion-card-subtitle>
    <ion-card-subtitle><span  style="font-size: 1.1rem">prix : {{meal.price}} € </span></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    description : {{meal.description}}
  </ion-card-content>
  <div class="container">
    <ion-button>Ajouter au  panier</ion-button>
  </div>
</ion-card>


<div  style="margin-bottom: 80px"></div>

