.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
ion-header{
  margin-top:20px ;
  margin-left:10% ;
  width: 80%;
}
ion-card {
  ion-button {
    margin-bottom: 20px;
  }
}
