
         <div class="center" style="margin: 20px"> <button  class="btn" (click)="gotoNewMeal()" >Ajouter  un  Plat</button>  </div>



    <div  class="container" >
        <div class="row">
            <div *ngFor="let meal of meals$ |async " class="col m4 s12"  >
                <div class="card horizontal " >
                    <div class="center">
                        <img  [src]="meal.image" height="190px" width="40%"   />

                                    <div class="card-stacked">
                                        <div class="card-content">
                                            <p> plat :   {{meal.label}}</p>
                                            <p> catégorie :  {{meal.category}}</p>
                                            <p> description  : {{meal.description}}</p>
                                            <p> prix  : {{meal.price}} £ </p>
                                            <p><span *ngIf="meal.status == 1 ">  Disponible  </span><span *ngIf="meal.status == 0 ">  Pas  Disponible  </span></p>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn" (click)="updateMeal(meal.id)"> Modifier Le  Plat </button>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </div>


