<swiper-container class="home-images" [slidesPerView]="3.5" [spaceBetween]="10" [freeMode]="false"  [slidesOffsetBefore]="11">
  <swiper-slide><img src="assets/images/burger.jpg"/> <span>{{categories[0]}}</span> </swiper-slide>
  <swiper-slide><img src="assets/images/chiken.jpg"/><span>{{categories[1]}}</span></swiper-slide>
  <swiper-slide><img src="assets/images/coca.jpg"/><span>{{categories[2]}}</span></swiper-slide>
  <swiper-slide><img src="assets/images/dessert.jpg"/><span>{{categories[3]}}</span></swiper-slide>
  <swiper-slide><img src="assets/images/entree.jpg"/><span>{{categories[4]}}</span></swiper-slide>
  <swiper-slide><img src="assets/images/meal.jpg"/><span>{{categories[5]}}</span></swiper-slide>
</swiper-container>


<swiper-container class="pub-home-images" [slidesPerView]="1.05" [spaceBetween]="10" [loop]="true"  [centedSlides]="true">
  <swiper-slide><img src="assets/images/pub1.jpg">  </swiper-slide>
  <swiper-slide><img src="assets/images/pub2.png">  </swiper-slide>
  <swiper-slide><img src="assets/images/pub3.jpg">  </swiper-slide>
</swiper-container>



<ion-text color="white"  style="text-align: center"> <b>Cantinère </b> </ion-text>


<ion-card color="medium">
  <img  src="./assets/images/homePage1.png"  alt="Our  menu image"/>
  <ion-card-header>
    <ion-card-title>Nos  Menus </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Délectez-vous de notre menu raffiné, où chaque plat est méticuleusement préparé pour éveiller vos papilles et vous offrir une expérience culinaire incomparable
    </ion-card-content>
</ion-card>

<ion-card color="medium">
  <img  src="./assets/images/homePage2.png"  alt="Our  meals image"/>
  <ion-card-header>
    <ion-card-title >Nos  Menus </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Délectez-vous de notre menu raffiné, où chaque plat est méticuleusement préparé pour éveiller vos papilles et vous offrir une expérience culinaire incomparable
  </ion-card-content>
</ion-card>


