<div class="container first  first-container">
    <div class="row first">
        <div class="container second">
            <div class="row">

                <div class="text-center">
                    <img alt="logo" class="form-logo" src="../../../../assets/images/logo.png" width="80px">
                    <h4 class="mt-1 mb-5 pb-1"> Cantinière</h4>
                </div>


                <form [formGroup]="adminForm">

                    <!---------------------- Name --------------------------->
                    <div class="form-group ">
                        <label for="firstName"> Prénom :  </label>
                        <input [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" class="form-control"
                               formControlName="firstName"
                               placeholder="  Votre Prénom "
                               type="text"
                               id="firstName"
                        />
                        <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                            <div *ngIf="f['firstName'].errors['required']" class="center"> Votre Prénom est requis</div>
                            <div *ngIf="f['firstName'].errors['maxlength']" class="center">
                                votre Prénom  ne doit pas dépasser 60 charctéres
                            </div>
                            <div *ngIf="f['firstName'].errors['minlength']" class="center">
                                votre Prénom    doit avoir au minimum de 3 charctéres
                            </div>
                        </div>
                    </div>



                    <!---------------------- Name --------------------------->
                    <div class="form-group ">
                        <label for="lastName"> Nom :  </label>
                        <input [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" class="form-control"
                               formControlName="lastName"
                               placeholder="  Votre Nom "
                               type="text"
                               id="lastName"
                        />
                        <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                            <div *ngIf="f['lastName'].errors['required']" class="center"> Votre Nom est requis</div>
                            <div *ngIf="f['lastName'].errors['maxlength']" class="center">
                                votre Nom  ne doit pas dépasser 60 charctéres
                            </div>
                            <div *ngIf="f['lastName'].errors['minlength']" class="center">
                                votre Nom  doit avoir au minimum de 3 charctéres
                            </div>
                        </div>
                    </div>






                    <!---------------------- Email --------------------------->
                    <div class="form-group ">
                        <label for="email"> Email :  </label>
                        <input [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" class="form-control"
                               formControlName="email"
                               placeholder="  Votre Email "
                               type="email"
                               id="email"
                        />
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']" class="center"> Votre Email est requis</div>
                            <div *ngIf="f['email'].errors['maxlength']" class="center">
                                votre Nom  ne doit pas dépasser 1000 charctéres
                            </div>
                            <div *ngIf="f['email'].errors['email']" class="center">
                                Format  Email  incorrect
                            </div>

                            <div *ngIf="f['email'].errors['pattern']" class="center">
                                Format  Email  incorrect pattern
                            </div>

                        </div>
                    </div>


                    <!---------------------- Birthdate--------------------------->
                    <div class="form-group ">
                        <label for="birthDate"> Date De  Naissance   :  </label>
                        <input [ngClass]="{ 'is-invalid': submitted && f['birthDate'].errors }" class="form-control"
                               formControlName="birthDate"
                               placeholder="Votre  Date  De  Naissance "
                               type="Date"
                               id="birthDate"
                        />
                        <div *ngIf="submitted && f['birthDate'].errors" class="invalid-feedback">
                            <div *ngIf="f['birthDate'].errors['required']" class="center"> La  date  de  naissance  est requise     </div>

                        </div>
                    </div>








                    <!---------------------- Password --------------------------->
                    <div class="form-group ">
                        <label for="password"> Mot  de passe  :  </label>
                        <input [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" class="form-control"
                               formControlName="password"
                               placeholder="  Votre Mot  de passe "
                               type="password"
                               id="password"
                        />
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']" class="center"> Votre Mot  de  passe  est requis</div>
                            <div *ngIf="f['password'].errors['maxlength']" class="center">
                                votre Mot De passe  ne doit pas dépasser   20 charctéres
                            </div>

                            <div *ngIf="f['password'].errors['minlength']" class="center">
                                votre Mot de passe   doit avoir au minimum de 6 charctéres
                            </div>


                        </div>
                    </div>



                    <!---------------------- Password Confirmation--------------------------->
                    <div class="form-group ">
                        <label for="confirmPassword">  Confirmation Mot  de passe  :  </label>
                        <input [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" class="form-control"
                               formControlName="confirmPassword"
                               placeholder="  Confirmation  Mot  de passe "
                               type="password"
                               id="confirmPassword"
                        />
                        <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                            <div *ngIf="f['confirmPassword'].errors['required']" class="center">  confirmation Mot  de  passe  est requis</div>
                            <div *ngIf="f['confirmPassword'].errors['matching']" class="center">
                                Les deux mots de passe ne sont pas identiques
                            </div>

                        </div>
                    </div>



                    <!---------------------- Phone Number--------------------------->
                    <div class="form-group ">
                        <label for="phoneNumber">  Numéro Tél  :  </label>
                        <input [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }" class="form-control"
                               formControlName="phoneNumber"
                               placeholder="  Votre  Numéro Télephone "
                               type="tel"
                               id="phoneNumber"
                        />
                        <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                            <div *ngIf="f['phoneNumber'].errors['required']" class="center">  confirmation Mot  de  passe  est requis</div>
                            <div *ngIf="f['phoneNumber'].errors['pattern']" class="center">
                                Format  Numéro  Téléphone est   incorrect
                            </div>

                        </div>
                    </div>







                    <!---------------------- Town --------------------------->
                    <div class="form-group ">
                        <label for="town"> Ville :  </label>
                        <input [ngClass]="{ 'is-invalid': submitted && f['town'].errors }" class="form-control"
                               formControlName="town"
                               placeholder="La ville "
                               type="text"
                               id="town"
                        />
                        <div *ngIf="submitted && f['town'].errors" class="invalid-feedback">
                            <div *ngIf="f['town'].errors['required']" class="center"> le  champs  est  obligatoire </div>
                            <div *ngIf="f['town'].errors['maxlength']" class="center">
                                Le nom de   la ville  ne doit pas dépasser   1000 charctéres
                            </div>

                            <div *ngIf="f['town'].errors['minlength']" class="center">
                                Le  nom  de  la ville    doit avoir au minimum de 3 charctéres
                            </div>


                        </div>
                    </div>






                    <!---------------------- Image --------------------------->
                    <div class="form-group">
                        <label for="image"> Choisissez une  image  de  profile   </label>

                        <input class="input-group-prepend"
                               [ngClass]="{ 'is-invalid': submitted && f['image'].errors }" class="form-control"
                               formControlName="image"
                               placeholder=" IMAGE  DU  Profil "
                               type="file"
                               id="image"
                               accept="image/png, image/jpeg"
                               (change)="onChange ($event)"
                        />

                    </div>






                    <div class="validate-form center">
                        <button class="center btn" (click)="onSubmit()">
                            <span>
                                <i class="fa fa-check"></i>
                            </span>
                            Valider
                        </button>

                    </div>

                </form>


            </div>
        </div>
    </div>
</div>



<ng-template #loadingTemplate >
    &lt;!&ndash; Afficher le spinner ici pendant le chargement &ndash;&gt;
    <div class="spinner-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</ng-template>

<style>
    .spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }
</style>

<!--
<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
        <div class="card auth">
            <div class="card-body auth-card">
                <div class="auth-avatar">
                    <img src="https://pluspng.com/img-png/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png" alt="user" class="user-image">
                </div>
                <form (submit)="adminForm">
                    <div class="form-group">
                        <label >Name : </label>
                        <input type="text" name="name" class="form-control" placeholder="Name" >
                    </div>
                    <div class="form-group">
                        <label >Phone : </label>
                        <input type="text" name="phone" class="form-control" placeholder="Phone" >
                    </div>
                    <div class="form-group">
                        <label >Email : </label>
                        <input type="text" name="email" class="form-control" placeholder="Email" >
                    </div>
                    <div class="form-group">
                        <label >Password : </label>
                        <input type="password" name="password" class="form-control" placeholder="********">
                    </div>
                    <div class="form-group">
                        <label >Confirm Password : </label>
                        <input type="password" name="c_password" class="form-control" placeholder="********" >
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-my" value="Sign Up">
                    </div>
                    <div class="text-center login">
                        Already have an account ? <a routerLink="/login">Login</a> hera.
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>-->
