
<div class="order">
    <div class="center">
        <h1>Commandes du {{Date() |  date:'EEEE d MMMM y':'fr-FR'}}</h1>
    </div>

    <div *ngFor="let  order  of ordersOfDay$ |async">
        <div  class="container">
            <div class="row test">
                <div class="col-md-2">
                    <span>  N° Commande  :  {{order.uuid}} </span>
                </div>
                <div class="col-md-2">
                    <span><strong> Etudiant : </strong> <span (click)="goToStudentProfile(order.studentOrder.uuid)"
                                                              style="color: blue; cursor: pointer">{{order.studentOrder.firstname}}  {{order.studentOrder.lastname}}</span> </span>
                </div>
                <div class="col-md-2">
                    <span><strong>Date : </strong> {{order.creationDate}}</span>
                </div>
                <div class="col-md-2">
                    <span><strong>Prix total : </strong> {{order.price}} € </span>
                </div>


                <div *ngIf="order.status==0" class="col-md-2">
                    <button class="btn btn-success" (click)="validateOrder(order.uuid)">Valider</button>
                </div>
                <div *ngIf="order.status==0" class="col-md-2">
                    <button class="btn btn-success  red">Annuler</button>
                </div>


                <div *ngIf="order.status == 1" class="col-md-2">
                    <p> Déja Validé </p>
                </div>


            </div>
        </div>
    </div>
</div>


<style>
    .order {
        margin: 50px;
    }

    .currentOrder {
        border-radius: 10px;
        padding: 1%;
        background: #d0d5e3;
    }
    p{
        color: #157815;
        font-size: 1rem;
    }
</style>