<div class="container">
    <div class="row">
        <div class="logo-cantine center">
            <img src="../../../../assets/images/logo.png" width="80px">
        </div>
        <h1 class="center">changer  votre  mot  de  passe </h1>
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form [formGroup]="newPasswordForm">


                <!---------------------- Password --------------------------->
                <div class="form-group ">
                    <label for="password"> Nouveau Mot  de passe  :  </label>
                    <input [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" class="form-control"
                           formControlName="password"
                           placeholder="  Votre nouveau  mot de passe "
                           type="password"
                           id="password"
                    />
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']" class="center"> Votre Mot  de  passe  est requis</div>
                        <div *ngIf="f['password'].errors['maxlength']" class="center">
                            votre Mot De passe  ne doit pas dépasser   20 charctéres
                        </div>

                        <div *ngIf="f['password'].errors['minlength']" class="center">
                            votre Mot de passe   doit avoir au minimum de 6 charctéres
                        </div>


                    </div>
                </div>



                <!---------------------- Password Confirmation--------------------------->
                <div class="form-group ">
                    <label for="confirmPassword">  Confirmation Mot  de passe  :  </label>
                    <input [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" class="form-control"
                           formControlName="confirmPassword"
                           placeholder="  Confirmation du nouveau Mot  de passe "
                           type="password"
                           id="confirmPassword"
                    />
                    <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f['confirmPassword'].errors['required']" class="center">  confirmation Mot  de  passe  est requis</div>
                        <div *ngIf="f['confirmPassword'].errors['matching']" class="center">
                            Les deux mots de passe ne sont pas identiques
                        </div>

                    </div>
                </div>
            </form>


            <div class="center submit-btn">
                <button style="margin-top: 10%" class="btn" (click)="OnSubmit()" *ngIf="!isLoadingPage; else loadingTemplate">
                     <span>
                         <i class="fa fa-check"></i>
                     </span>
                    soumettre
                </button>
            </div>
        </div>
    </div>
</div>


<ng-template #loadingTemplate>
    <!-- Afficher le spinner ici pendant le chargement -->
    <div class="spinner-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</ng-template>
