<div class="container">
    <div class="row student-search">
        <div class="col-md-12">
            <h1 class="center"> Rechercher un étudiant </h1>
        </div>
        <form [formGroup]="studentSeeked">
            <!---------------------- Email --------------------------->
            <div class="form-group ">
                <label for="email"> Email : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" class="form-control"
                       formControlName="email"
                       placeholder="  Votre Email "
                       type="email"
                       id="email"
                />
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']" class="center"> Votre Email est requis</div>
                    <div *ngIf="f['email'].errors['maxlength']" class="center">
                        votre Nom ne doit pas dépasser 1000 charctéres
                    </div>
                    <div *ngIf="f['email'].errors['email']" class="center">
                        Format Email incorrect
                    </div>

                    <div *ngIf="f['email'].errors['pattern']" class="center">
                        Format Email incorrect pattern
                    </div>
                </div>
            </div>

        </form>


        <div *ngIf="!isLoaded; else loadingTemplate" class="search center ">
            <button class="btn" (click)="validate()"> Chercher</button>
        </div>
    </div>
</div>


<div  class="container">
     <div class="row student-result" >
          <div class="col-md-2">
               <span>  <strong>Nom  : </strong>  halim  </span>
          </div>
          <div class="col-md-2">
               <span><strong>Prénom : </strong> yahiaoui</span>
          </div>

          <div class="col-md-4">
               <span><strong>Date De  Naissance  : </strong> 18/07/2000 </span>
          </div>


         <div class="col-md-4">
             <button class="btn"> voir le  profile</button>
         </div>


     </div>
</div>




<ng-template #loadingTemplate>
    <!-- Afficher le spinner ici pendant le chargement -->
    <div class="spinner-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</ng-template>
