<div class="global" >
<div class="center"><img width="60px" src="../../../../assets/images/add-icon.png" ></div>
<h1 mat-dialog-title>{{message}}</h1>
<div class="btns">
    <div ><button class="btn btn-primary" mat-dialog-close >Annuler</button></div>
    <div ><button class="btn btn-primary"  >valider</button></div>
</div>
</div>

<style>

    .global{
        margin:10px ;

    }
    .btns{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    img{
        margin-top: 20px;
    }
    mat-dialog-container{
        background: red !important;
    }

</style>
<!--
<div class="container-fluid global">
    <div class="row">
        <div class="col-md-12">
           <div class="center"><img width="60px" src="../../../../assets/images/add-icon.png" ></div>
            <p class="center">{{message}}</p>
            <div class="btns">
                <div ><button class="btn btn-primary" >Annuler</button></div>
                <div ><button class="btn btn-primary" >valider</button></div>
            </div>

        </div>
    </div>
</div>

<style>
    .global{
       background: #cccccc;
    }
    .btns{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
   img{
        margin-top: 20px;
    }

    p{
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        color: rgba(12, 15, 17, 0.8);
    }
    mat-dialog-container {

    }

</style>-->

