<div class="container">
    <div class="row center">
            <div class=" center transaction-info">
                <h2> Historique  des  transactions </h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">administrateur  chargé </th>
                        <th scope="col">Le montant</th>
                        <th scope="col">La  date </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th><td>Mark</td><td>Otto</td><td>@mdo</td></tr>
                    <tr>

                    </tbody>
                </table>
            </div>

    </div>
</div>

<style>
    .transaction-info {
        margin-top: 50px;
    }
</style>