<div class="container">
    <div class="row">


        <form [formGroup]="adminUpdated" class="admin-form">
            <div class="center">
                <img id="profile-picture" src="{{admin.image}}" alt="profile  picture"/>
                <h1>{{admin.firstname}}   {{admin.lastname}}</h1>

            </div>

            <!---------------------- Name --------------------------->
            <div class="form-group  input-card col">
                <label for="firstName"> Prénom : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" class="form-control"
                       formControlName="firstName"
                       placeholder="  Votre Prénom "
                       type="text"
                       id="firstName"
                />
                <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                    <div *ngIf="f['firstName'].errors['required']" class="center"> Votre Prénom est requis</div>
                    <div *ngIf="f['firstName'].errors['maxlength']" class="center">
                        votre Prénom ne doit pas dépasser 60 charctéres
                    </div>
                    <div *ngIf="f['firstName'].errors['minlength']" class="center">
                        votre Prénom doit avoir au minimum de 3 charctéres
                    </div>
                </div>
            </div>


            <!---------------------- LastName --------------------------->
            <div class="form-group input-card   col ">
                <label for="lastName"> Nom : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" class="form-control"
                       formControlName="lastName"
                       placeholder="  Votre Nom "
                       type="text"
                       id="lastName"
                />
                <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                    <div *ngIf="f['lastName'].errors['required']" class="center"> Votre Nom est requis</div>
                    <div *ngIf="f['lastName'].errors['maxlength']" class="center">
                        votre Nom ne doit pas dépasser 60 charctéres
                    </div>
                    <div *ngIf="f['lastName'].errors['minlength']" class="center">
                        votre Nom doit avoir au minimum de 3 charctéres
                    </div>
                </div>
            </div>


            <!---------------------- Email --------------------------->
            <div class="form-group  input-card   col">
                <label for="email"> Email : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" class="form-control"
                       formControlName="email"
                       placeholder="  Votre Email "
                       type="email"
                       id="email"

                />
                <!--     <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                         <div *ngIf="f['email'].errors['required']" class="center"> Votre Email est requis</div>
                         <div *ngIf="f['email'].errors['maxlength']" class="center">
                             votre Nom ne doit pas dépasser 1000 charctéres
                         </div>
                         <div *ngIf="(f['email'].errors['email'] )  ||  (f['email'].errors['pattern'])" class="center">
                             Le Format de Email est incorrecte
                         </div>
                     </div>-->
            </div>


            <!---------------------- Birthdate--------------------------->
            <div class="form-group  input-card   col">
                <label for="birthDate"> Date De Naissance : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['birthDate'].errors }" class="form-control"
                       formControlName="birthDate"
                       placeholder="Votre  Date  De  Naissance "
                       type="Date"
                       id="birthDate"
                />
                <div *ngIf="submitted && f['birthDate'].errors" class="invalid-feedback">
                    <div *ngIf="f['birthDate'].errors['required']" class="center"> La date de naissance est requise
                    </div>

                </div>
            </div>
            <!---------------------- Address --------------------------->
            <div class="form-group ">
                <label for="address"> Adresse : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" class="form-control"
                       formControlName="address"
                       placeholder="L'adresse "
                       type="text"
                       id="address"
                />
                <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                    <div *ngIf="f['address'].errors['required']" class="center"> le champs est obligatoire</div>
                    <div *ngIf="f['address'].errors['maxlength']" class="center">
                        L'adresse ne doit pas dépasser 3000 charctéres
                    </div>

                    <div *ngIf="f['address'].errors['minlength']" class="center">
                        L'adresse doit avoir au minimum de 10 charctéres
                    </div>


                </div>
            </div>


            <!---------------------- Town --------------------------->
            <div class="form-group ">
                <label for="town"> Ville : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['town'].errors }" class="form-control"
                       formControlName="town"
                       placeholder="La ville "
                       type="text"
                       id="town"
                />
                <div *ngIf="submitted && f['town'].errors" class="invalid-feedback">
                    <div *ngIf="f['town'].errors['required']" class="center"> le champs est obligatoire</div>
                    <div *ngIf="f['town'].errors['maxlength']" class="center">
                        Le nom de la ville ne doit pas dépasser 1000 charctéres
                    </div>

                    <div *ngIf="f['town'].errors['minlength']" class="center">
                        Le nom de la ville doit avoir au minimum de 3 charctéres
                    </div>


                </div>
            </div>


            <!---------------------- Phone Number--------------------------->
            <div class="form-group ">
                <label for="phoneNumber"> Numéro Tél : </label>
                <input [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }" class="form-control"
                       formControlName="phoneNumber"
                       placeholder="  Votre  Numéro Télephone "
                       type="tel"
                       id="phoneNumber"
                />
                <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                    <div *ngIf="f['phoneNumber'].errors['pattern']" class="center">
                        Format Numéro Téléphone est incorrect
                    </div>

                </div>
            </div>


            <!---------------------- StudentClass  --------------------------->

            <div class="form-group">
                <label for="adminFunction"> </label>
                <select formControlName="adminFunction" class="form-control" id="adminFunction"
                        [ngClass]="{ 'is-invalid': submitted && f['adminFunction'].errors }" name="adminFunction">
                    <option value="" disabled>-- Votre class --</option>
                    <ng-container *ngFor="let job of adminfunction$ | async ">
                        <option [value]="job.name">{{ job.name }}</option>
                    </ng-container>
                </select>
                <div *ngIf="submitted && f['adminFunction'].errors" class="invalid-feedback">
                    <div *ngIf="f['adminFunction'].errors['required']" class="center"> saisie de votre travail est
                        requise
                    </div>
                </div>
            </div>


            <!---------------------- Image --------------------------->
            <div class="form-group ">
                <label for="image"> Choisissez une image de profile </label>

                <input class="input-group-prepend form-control"
                       [ngClass]="{ 'is-invalid': submitted && f['image'].errors }"
                       formControlName="image"
                       placeholder=" IMAGE  DU  Profil "
                       type="file"
                       id="image"
                       accept="image/png, image/jpeg"
                       (change)="onChange ($event)"
                />

            </div>


        </form>

    </div>
</div>
<div class="container" *ngIf="!isLoading else loadingTemplate">
    <div class="row">

        <div class="col-5"><span (click)="backToHome()"><mat-icon>arrow_back</mat-icon></span></div>

        <div class="col-7">
            <div class="btns">
                <div class="btn-save">
                    <button *ngIf="this.adminUpdated.disabled" (click)="onUpdate()" class="btn"> Modifier</button>
                    <button *ngIf="!this.adminUpdated.disabled" (click)="onSubmit()" class="btn"> Enregistrer</button>
                </div>

            </div>
        </div>

    </div>
</div>

<ng-template #loadingTemplate>
    <div class="spinner-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</ng-template>
