<mat-toolbar>
    <button (click)="sidenav.toggle()" *ngIf="isConnected" class="burgger" mat-icon-button>
        <div *ngIf="!sidenav.opened">
            <img  alt="admin  image"  src="{{admin.image}}">
        </div>
        <div *ngIf="sidenav.opened">
            <img alt="admin"   src="{{admin.image}}" >
        </div>
    </button>
    <div *ngIf="!isConnected">
     <img alt="cantière-logo" src="../../assets/logo.png">
    </div>

    <div class="logo-container">
        <div class="sqli-div"><span class="cantière-span center">Cantière</span> <br>
            <div class="bysqli"><span class="by">By</span> <span class="sqli">SQLI </span></div>
        </div>
    </div>
    <div class="connect">
        <button (click)="logout()">
            <mat-icon>logout</mat-icon>
              Deconnexion
        </button>
    </div>



    <div *ngIf="isConnected" class="not-connect-login-small">
        <mat-icon>logout</mat-icon>
    </div>
    <div *ngIf="!isConnected" class="not-connect-login-small">
        <mat-icon>login</mat-icon>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

        <img class="avatar mat-elevation-z8" src="{{admin.image}}"/>

        <h4 class="name">{{admin.firstname}}  {{admin.lastname}}</h4>
        <p class="designation"> Manager </p>

        <p class="designation"> Aston Administrator 😇 </p>

        <mat-divider></mat-divider>

        <button class="menu-button" (click)="goToMyProfile()">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button class="menu-button" mat-button (click)="goToStudents()">
            <mat-icon>person</mat-icon>
            <span>Etudiants</span>
        </button>

        <button class="menu-button" mat-button (click)="goToOrders()">
            <mat-icon>shopping_cart</mat-icon>
            <span>  Commandes  </span>
            <mat-icon class="badge" matBadge="10" matBadgeColor="warn" matBadgePosition="above after"></mat-icon>

        </button>


        <mat-divider></mat-divider>
        <button class="menu-button" mat-button (click)="goToHome()">
            <mat-icon> home</mat-icon>
            <span>Home</span>
        </button>

        <button class="menu-button" mat-button (click)="goToMenus()">
            <mat-icon> restaurant_menu</mat-icon>
            <span>Menus</span>
        </button>
        <button class="menu-button" mat-button (click)="goToMeals()">
            <mat-icon>lunch_dining</mat-icon>
            <span>Plats</span>
        </button>

        <mat-divider></mat-divider>

        <button class="menu-button" mat-button (click)="logout()">

            <mat-icon>logout</mat-icon>
            <span>Deconnexion</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <main>  <!-- we  make  style here  because   we  want to  share it between  all  admin  pages  -->
          <!--  <header style="width: 100%;
             height: 40vh;
             background: url('../../../assets/images/homepage.jpg') 30% 30% no-repeat;
             background-size: cover;
             background-color: #f8f8f8;">
            </header>&lt;!&ndash;!-- content  -->
            <router-outlet></router-outlet>     <!--  main  container  -->
        </main>
        <app-main-footer></app-main-footer>
    </mat-sidenav-content>
</mat-sidenav-container>


