<header>
    <div class="container-images">
        <h1>Cantinière</h1>
        <p>https://www.youtube.com/watch?v=t5zFfDdvApE&ab_channel=HaverikaKrishna</p>
        <mat-divider></mat-divider>
        <h3> Commandez vos repas rapidement et en toute sécurité </h3>
    </div>

</header>


<section>
    <div class="container-fluid ">
        <div id="text-intro">
            <h2 class="center">Rechargez vos batteries avec des aliments nutritifs - découvrez nos menus hebdomadaires
                pour des repas
                sains et équilibrés à la cantine Aston</h2>

        </div>

        <div class="row center">
            <div class="col-md-4 col-sm-12 ">
                <div class="images-prestation">
                    <h4> Nos Menus </h4>
                    <a href=""> <img alt="Nos  menus " src="../../../assets/images/menu.jpg"> </a>
                </div>
            </div>
            <div class=" col-md-4  col-sm-12 ">
                <div class="images-prestation">
                    <h4> Nos Plats </h4>
                    <a href=""> <img alt="Nos  plats  " src="../../../assets/images/meal.jpg"> </a>
                </div>
            </div>


            <div class="col-md-4 col-sm-12">
                <div class="images-prestation">
                    <h4> Nos Boisson </h4>
                    <a href=""> <img alt="Nos  boisson " src="../../../assets/images/boisson.jpg"> </a>
                </div>
            </div>

        </div>
    </div>



    <div>
        <p>
            Commandez vos repas composés de plats équilibrés et sains ainsi que des menus variés pour
            toute la semaine à la cantine Aston. Profitez de nos menus à partir de 5,50€ et de nos plats
            à partir de 3,50€. Nos plats sont préparés avec des produits frais et de qualité, et livrés dans
            les plus brefs délais. Vous pouvez donc profiter d'un repas savoureux et sain sans tracas ni attente.
        </p>

    </div>

</section>
<!--
<section>
    <div class="container-fluid">
        <div id="text-intro">
            <h2 class="center">Rechargez vos batteries avec des aliments nutritifs - découvrez nos menus hebdomadaires pour des repas
                sains et équilibrés à la cantine Aston</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit blanditiis quidem praesentium officia
                facilis quibusdam doloremque nobis veniam exercitationem incidunt, temporibus ad pariatur quam dolorem
                illo vero facere? Ut voluptatibus ea unde adipisci assumenda sint quis? Aperiam minus error est!</p>
        </div>

            <div class="row center ">
                <div class="col-md-4 col-sm-12 ">
                    <div class="images-prestation">
                        <h4> Nos Menus </h4>
                        <a href=""> <img alt="Nos  menus " src="../../../assets/images/menu.jpg"> </a>
                    </div>
                </div>
                <div class=" col-md-4  col-sm-12 ">
                    <div class="images-prestation">
                        <h4> Nos  Plats </h4>
                        <a href=""> <img src="../../../assets/images/meal.jpg" alt="Nos  plats  " > </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="images-prestation">
                        <h4> Nos Boisson </h4>
                        <a href=""> <img src="../../../assets/images/boisson.jpg" alt="Nos  boisson " > </a>
                    </div>
                </div>

            </div>
        </div>
</section>
-->


<!--
-->

<!--<section>
            <div id="text-intro">
                  <h2>Rechargez vos batteries avec des aliments nutritifs - découvrez nos menus hebdomadaires pour des repas
                        sains et équilibrés à la cantine Aston</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit blanditiis quidem praesentium officia
                        facilis quibusdam doloremque nobis veniam exercitationem incidunt, temporibus ad pariatur quam dolorem
                        illo vero facere? Ut voluptatibus ea unde adipisci assumenda sint quis? Aperiam minus error est!</p>
            </div>
   
              <div id="prestation">
                  <div class="images-prestation">
                        <h4> Nos  Menus </h4>
                        <a href=""> <img src="../../../assets/images/menu.jpg" alt="Nos  menus "> </a>
                   </div>
              </div>
              <div>
                  <div class="images-prestation">
                        <h4> Nos  Plats </h4>
                        <a href=""> <img src="../../../assets/images/meal.jpg" alt="Nos  plats  " > </a>
                   </div>
                 
              </div>
              <div>
                  <div class="images-prestation">
                        <h4> Nos Boisson </h4>
                        <a href=""> <img src="../../../assets/images/boisson.jpg" alt="Nos  boisson " > </a>
                   </div>
                  
              
            </div>
     

 <div class="container-fluid">
  <div class="row">
            <div id="text-intro">
                  <h2>Rechargez vos batteries avec des aliments nutritifs - découvrez nos menus hebdomadaires pour des repas
                        sains et équilibrés à la cantine Aston</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit blanditiis quidem praesentium officia
                        facilis quibusdam doloremque nobis veniam exercitationem incidunt, temporibus ad pariatur quam dolorem
                        illo vero facere? Ut voluptatibus ea unde adipisci assumenda sint quis? Aperiam minus error est!</p>
            </div>
            <div id="prestation">
                   <div class="images-prestation">
                        <h4> Nos  Menus </h4>
                        <a href=""> <img src="../../../assets/images/menu.jpg" alt="Nos  menus "> </a>
                   </div>
                   <div class="images-prestation">
                        <h4> Nos  Plats </h4>
                        <a href=""> <img src="../../../assets/images/meal.jpg" alt="Nos  plats  " > </a>
                   </div>
                   <div class="images-prestation">
                        <h4> Nos Boisson </h4>
                        <a href=""> <img src="../../../assets/images/boisson.jpg" alt="Nos  boisson " > </a>
                   </div>
            </div>
      </div>
 </div>




Commandez  vos   repas  composé de plats equilibrés et sains  et des menus variés  pour  toute la semaine  à la cantine Aston
profitez de nos menus  à  partir de  5.50€  et  nos  plats  à  partir de  3.50€
les  plats  sont  livrés  dans  dans  les plus brefs délais  et  sont  préparés  avec  des  produits frais  et  de  qualité



  <div class="container">
            <div class="row">
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
            </div>
          </div>
-->     
