<header>
    <div class="container-images">
        <h1>Cantinière</h1>
        <p>https://www.youtube.com/watch?v=t5zFfDdvApE&ab_channel=HaverikaKrishna</p>
        <mat-divider></mat-divider>
        <h3> Commandez vos repas rapidement et en toute sécurité </h3>
    </div>

</header>


<section>
    <div class="container-fluid ">
        <div id="text-intro">
            <h2 class="center">Rechargez vos batteries avec des aliments nutritifs - découvrez nos menus hebdomadaires
                pour des repas
                sains et équilibrés à la cantine Aston</h2>
        </div>
        <div class="container-fluid center ">
            <div class="row">

                <div class="col-md-4 col-sm-12 ">
                    <div class="images-presentation">
                        <h4> Nos Menus </h4>
                        <img  (click)="goToMenus()"  alt="Nos  menus " src="../../../assets/images/menuRE.jpg">
                    </div>
                </div>


                <div class=" col-md-4  col-sm-12 ">
                    <div class="images-presentation">
                        <h4> Nos Plats </h4>
                        <img (click)="goToMeals()"  alt="No s  menus " src="../../../assets/images/mealRE.jpg">
                    </div>
                </div>


                <div class="col-md-4 col-sm-12">
                    <div class="images-presentation">
                        <h4> Nos Boissons </h4>
                        <img alt="No s  menus " src="../../../assets/images/colaRE.jpg">
                    </div>
                </div>


            </div>

        </div>
    </div>


    <div>

    </div>



</section>


