<app-loading-dialog *ngIf="isLoading"></app-loading-dialog>
<div class="container currentOrder">
    <div class="row" *ngIf="!isOrderEmpty()">
        <h2>Ma commande  : </h2> <br> <br>
        <div class="col-md-2">
            <span> <strong> Date : </strong> 10/09/2023</span>
        </div>
        <div class="col-md-2">
            <span><strong>Nombre de Plats : </strong> {{order.meals.length}}</span>
        </div>

        <div class="col-md-2">
            <span><strong>Nombre de Menus : </strong> {{order.menus.length}}</span>
        </div>

        <div class="col-md-2">
            <span><strong>Prix total : </strong> {{getTotalPrice()}} € </span>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="modifyOrder()">Modifier</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" (click)="validateOrder()">Valider</button>
        </div>
    </div>
    <div class="row center" *ngIf="isOrderEmpty()">
        <div>
            <h2> Vous avez Aucune commande Aujourd'hui </h2>
        </div>
    </div>
</div>


<div class="trait"></div>
<div class="center   test2">
    <h2> Commande Déja Soumises </h2>
    <p> Notez  Bien   :  Toutes  Les  commandes  déja valider peuvent etre retirer de 12h : 00  à 13h : 45  dans  les  locaux de  Aston </p>
</div>


<div *ngFor="let  order  of ordersOfDay$ |async">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <span>  <strong>N° Commande  : </strong>   {{order.uuid}} </span>
            </div>
            <div class="col-md-2">
                <span><strong>Date : </strong> {{order.creationDate}}</span>
            </div>

            <div class="col-md-2">
                <span><strong>Nombre de Plats : </strong> {{order.meals.length}}</span>
            </div>

            <div class="col-md-2">
                <span><strong>Nombre de Menus : </strong> {{order.menus.length}}</span>
            </div>

            <div class="col-md-2">
                <span><strong>Prix total : </strong> {{order.price}} € </span>
            </div>
            <div class="col-md-2" *ngIf="!order.cancelled">
                <button class="btn btn-success" (click)="cancelOrder(order.uuid)">Annuler</button>
            </div>
            <div class="col-md-2" *ngIf="order.cancelled">
                <h3  style="color : #a91d3f"> <strong>Commande Annulé</strong> </h3>
            </div>
            <div class="col-md-2" *ngIf="order.status == 1  && !order.cancelled">
                <h3  style="color : #25de25"> <strong>Déja Validé</strong> </h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="center  btn"> Historique de Mes Commandes </div>
    </div>
</div>


<style>

    .trait {
        width: 50%;
        height: 2px;
        background: black;
        margin-bottom: 10px;
        transform: translate(50%, 0);
    }

    .currentOrder {
        margin-top: 4%;
        margin-bottom: 5%;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .test2 {
        margin-bottom: 40px;
    }

    .historique {
        transform: translate(50%, 0);
        border: black 1px solid;
        margin-top: 6px;
    }
</style>