<div class="container">
      <div class="row">
                <h2> Ma  commande  :  </h2>

                 <p class="title"> Les Menus  </p>
            <div *ngFor="let menu of order.menus" class="meal">
                <p>{{menu.label}}</p>
                <p>{{menu.price}}</p>
                <div class="btn  center" (click)="removeMenuFromOrder(menu)">  supprimer le  Menu  </div>
            </div>

          <p  class="title" > Les plats   </p>
          <div *ngFor="let meal of order.meals" class="meal">
               <p>{{meal.label}}</p>
              <p>{{meal.price}}</p>
              <p>{{meal.category}}</p>
              <div class="btn center" (click)="removeMealFromOrder(meal)">  supprimer  le plat  </div>
          </div>
             <div class="btn" (click)="removeOrder()">  supprimer La commande  </div>
      </div>
</div>

<style>
    .container{
        border: 1px solid #000;
    }
    .title{
        color: red;
    }

    .meal{
        border: 1px solid #000;
    }
</style>